.certifications_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.education_card, .certifications_list {
    background: var(--color-bg-variant);
    padding: 2.4rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.education_card:hover, .certifications_list:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}

.certifications_list ul {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-left: 1.5rem;
}

.certifications_list li {
    list-style-type: disc;
    color: var(--color-light);
}

/* MEDIA QUERIES(MEDIUM) */
@media screen and (max-width: 1024px) {
    .certifications_container {
        grid-template-columns: 1fr;
    }
}